name: Test API and Run Postman Tests on Windows

on:
  push:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v2

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requeriments_sqlalchemy.txt

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'  # Ajusta según lo necesario

      - name: Install Newman (Postman CLI)
        run: npm install -g newman

      - name: Run Postman tests with Newman
        run: |
          newman run openapi_server/test/Test_Api_Usuarios.postman_collection.json -e openapi_server/test/postman_environment.json
        env:
          BASE_URL: http://localhost:8080  # Ajusta el puerto según el que usa tu API
